/* ====================== Navigation ====================== */
nav h1 a {
  font-size: 3vw;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options select {
  width: 350px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list li {
  width: 22vw;
}
