#footer a {
	padding: 0 1vw 0;
}

/* ====================== Navigation ====================== */
nav h1 a {
  font-size: 4vw;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options select {
  width: 300px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list li {
  width: 30vw;
}

/* ====================== Restaurant Details ====================== */
.inside #maincontent {
  display: flex;
  flex-wrap: nowrap;
}

.inside #map-container {
  width: 50%;
  height: auto;
  order: 2;
  position: sticky;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside .restaurantReviews {
  flex-direction: column;
  width: 50%;
}

.inside #reviews-container  {
  width: 90%;
}

.inside .restaurant-items {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
}

#restaurant-cuisine {
  margin: 0;
}

#section1 {
  padding-right: 3em;
}

#section1, #section2 {
  width: 60%;
}
