#footer {
  padding: 25px 0 25px 0;
}

/* ====================== Navigation ====================== */
#breadcrumb {
  padding: 10px 0 16px;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options select {
  width: 250px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list li {
  max-width: 45vw;
}

/* ====================== Restaurant Details ====================== */
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  /* padding: 0 40px 30px; */
  width: 90%;
}

/* #restaurant-container {
  display: flex;
  flex-wrap: wrap;
} */

.restaurant-items {
  display: flex;
  align-items: center;
}

#restaurant-cuisine {
  margin: 0;
}

#section1 {
  width: 60%;
  padding-right: 3em;
}

#section2 {
  width: 60%;
}
